<html>
<head>
  <title>Is it snowing in Portland, Oregon? No.</title>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      display: table;
      background-color: green;
      color: white;
    }
    .message {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      font-size: 100px;
    }
  </style>
</head>
<body>
    <div class="message">
      <h1>No.</h1>
    </div>
</body>
</html>
